<div class="page">

    <div class="headerSection">
        <h3>
            Papergrid</h3>
        <h3>Profile Completion</h3>
    </div>
    <div class="middeleSection">
        <div class="doc">Document</div>
        <div class="task">Tasks</div>
        <div class="pay">Payments</div>
        <div class="prof">Profile</div>

        <div class="action">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                 FY 2020-2021
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>


        </div>

        <div class="action1">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
            MAY
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="pageSection">

        <div class="left">
            <div class="sidenav">
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#clients">Clients</a>
                <a href="#contact">Contact</a>
                <a href="#contact">Search</a>
            </div>
        </div>
        <div class="right">dfh</div>
    </div>
</div>